*{
    box-sizing: border-box;
    font-family: 'Potta One', cursive;
}

html, body{
    margin: auto;
    background-color:black;
}

.main-header{
    display:flex;
    background-image: url('Images/mexican-header.jpg');
    background-size: cover;
    max-height: 300px;
    justify-items: flex-start
}

.top-title{
    font-size: 60px;
    color: wheat;
    text-align: center;
}

.main-menu{
    margin:auto;
    padding:5px;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    flex-wrap:wrap;
    flex-grow: 4;
}

.menu-button_gallery{
    border: 2px solid wheat;
    background-image: url('./Images/resizedTrue1.png');
    background-size: cover;
    height: 650px;
    width: 450px; 
    font-size: 30px;
    color: wheat;  
    text-align:center;
    vertical-align: top; 
}

.menu-button_menu{
    border: 2px solid wheat;
    background-image: url('./Images/resized3.jpg');
    background-size: cover;
    height: 650px;
    width: 450px;
    font-size: 30px;
    color: wheat;  
    text-align:center;
    vertical-align: top;
}

.menu-button_about{
    border: 2px solid wheat;
    background-image: url('./Images/resized2.jpg');
    background-size: cover;
    height: 650px;
    width: 450px;
    font-size: 30px;
    color: wheat;  
    text-align:center;
    vertical-align: top; 
}

.menu{
    font-size: 30px;
    color: wheat;  
    text-align:center;
    vertical-align: top;

}

.gallery{
    font-size: 30px;
    color: wheat;
}

.about{
    font-size: 30px;
    color: wheat;
}

.footer{
    
    background-color:wheat;
}