*{
    box-sizing: border-box;
    font-family: 'Potta One', cursive;
}

html, body{
    margin: auto;
    background-color:black;
}

.main-header{
    display:flex;
    background-image: url('Images/mexican-header.jpg');
    background-size: cover;
    max-height: 300px;
    flex-wrap: wrap;
}

.top-title{
    font-size: 60px;
    color: wheat;
    text-align: center;
}


.main-menu{
    margin:auto;
    padding:5px;
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;

}

.menu-button{
    display:flex;
    flex-wrap: nowrap;
    padding:2px;
    margin:2px;
    justify-content:center;
    border: 2px solid wheat;

    height: 650px;
    width: 450px; 
    font-size: 30px;
    color: rgb(112, 92, 54);  
    
   
    flex-shrink: 2;
    transition: transform .2s;
}

.menu-button:hover {
    transform: scale(1.05);
  }

  .menu-button.menu-gallery{
    background-image: url('./Images/resizedTrue1.png');
    background-size: cover;
    text-align:center;
    vertical-align: top;
  }
  .menu-button.menu-aboutus{
    background-image: url('./Images/resized2.jpg');
    background-size: cover;
    text-align:center;
    vertical-align: top;
  }
  .menu-button.menu-themenu{
    background-image: url('./Images/resized3.jpg');
    background-size: cover;
    text-align:center;
    vertical-align: top;
  }

.footer{
    
    
    background-color:wheat;
}

.modal-bg-aboutus{
    position:fixed;
    width:100%;
    height:100vh;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,05s;


}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal-aboutus{
    background-color: white;
    width: 90%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}